{{>header}}
  <div class="main_content">
    <div class="home_content">
    <h1 class="headline"><span> Dashboard</span> <span class="dot">Hi, {{firstname}}</span></h1>
    <section class="content_div"> 
    <div class="location">Home > Dashboard</div>
    <div class="container">
        <div class="dashboard-container">
        <div class="take_attendence">
          <h1>Take Attendance</h1>
          <div class="take_attendance-part">
            <i class='bx bx-check-square'></i>
          </div>
        </div>
        
        <div class="view_attendence">
          <h1>View Attendance</h1>
          <div class="view_attendance-part">
            <i class='bx bx-data'></i>
          </div>
        </div>
        <div class="my_classes">
          <h1>My Classes</h1>
          <div class="my_classes-part">
            <i class='bx bx-user-plus'></i>
          </div>
        </div>

      </div>

    </div>
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/dashboard.js"></script>
    </section>
    </div>
    </div>
{{>footer}}