<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Attendance Management</title>
    <link rel="stylesheet" href="css/home.css">
</head>

<body>
    <nav class="navbar">
        <div></div>
        <div>
            <ul>
                <li><a href="">About Us</a></li>
                <li><a href="">Contact Us</a></li>
                <li><a href="/login">Sign in</a></li>
            </ul>
        </div>

    </nav>
    <section class="home_conatainer">
        <div class="container">
            <div class="left">
                <img src="img/image1.png" alt="">
                <h1>Online Attendance</h1>
                <h3>management system</h3>
                {{!-- <hr><br><br> --}}
                <p>Online Management attendance system is a web application that aims to provide a way to store and keep
                    track record of the attendance of the students.</p>

                <div class="register"><a href="/register">Register </a></div>
            </div>
            <div class="right">
                <img src="img/123.png" alt="">
            </div>
        </div>
    </section>
</body>

</html>