<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Attendance</title>
    <link rel="stylesheet" href="../css/style.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar">
    <div class="logo_content">
      <div class="logo">
        <i class='bx bxl-c-plus-plus'></i>
        <div class="logo_name">Attendance</div>
      </div>
      <i class='bx bx-menu' id="btn" ></i>
    </div>
    <ul class="nav_list">
        <li>
            <a href="/myaccount">
              <i class='bx bx-user' ></i>
              <span class="links_name">User</span>
            </a>
            <span class="tooltip">User</span>
        </li>
      <li>
        <a href="/dashboard">
          <i class='bx bx-grid-alt' ></i>
          <span class="links_name">Dashboard</span>
        </a>
        <span class="tooltip">Dashboard</span>
      </li>
      <li>
        <a href="/myclasses">
          <i class='bx bx-pie-chart-alt-2' ></i>
          <span class="links_name">My Classes</span>
        </a>
        <span class="tooltip">Classes</span>
      </li>
      <li>
        <a href="/take-attendance">
          <i class='bx bx-clipboard' ></i>
          <span class="links_name">Take Attendance</span>
        </a>
        <span class="tooltip">Take</span>
      </li>
    
      <li>
        <a href="/view-attendance">
          <i class='bx bx-book-open' ></i>
          <span class="links_name">View Attendance</span>
        </a>
        <span class="tooltip">View</span>
      </li>
    </ul>
    <div class="profile_content">
      <div class="profile">
          <span class="tooltip">Log Out</span>
        <i class='bx bx-log-out' id="log_out" ></i>
      </div>
    </div>
  </div>